<link rel="stylesheet" href="<%= assetPath('css/newPost.css') %>">
<div id="new-post" class="containerBox" style="text-align: center;">
    <form action="/post/create-post" method="POST" name="new-post" enctype="multipart/form-data">
        <div class="m-2" style="display: inline-flex; text-align: center;">
            <div>
                <%if(locals.user.avatar){ %>
                <img src="<%=locals.user.avatar%>" alt="Profile" width="50" height="50" style="border-radius: 100%;">
            <% }else{ %>
                <img src="/uploads//users/default/avatar" alt="Profile" width="50" height="50" style="border-radius: 100%;">
            <% } %>
            </div>
            <div class="ml-2" style="position: relative;">
                <textarea name="content" id="content" placeholder="Write Something ..." class="form-control" style="height: 200px; width: 400px; font-size: 1.2em; display: inline;"></textarea>
                <div style="position: absolute; right: 5px; bottom: 5px;">
                    <input id="file" type="file" name="post" class="inputfile" data-multiple-caption="{count} files selected" accept="image/*">
                    <label for="file" class="btn btn-secondary" style="padding: 2px 6px 2px 6px;"><i class="fas fa-camera"></i></label>
                </div>
            </div>
            
        </div>
        <br>
        <br><br>
        <input type="submit" value="Post" class="btn btn-primary btn-lg">
    </form>
</div>
<script src="<%= assetPath('scripts/newPost.js') %>"></script>