body{
    margin: 0px;
}
/* Top div */
#top-div{
    /* background-color: rgba(90, 86, 86, 0.548); */
    background-color: black;
    z-index: 2;
    opacity: 0.3;
    height: 110px;
    position: relative;
    width: 100%;
    top: 0;
}

#top-div-partner{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    height: 110px;
    background-image: linear-gradient(-90deg, #04044e, #000080, #000080);
    top: 0;
    z-index: 3;
    margin: 0;
}

.head{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-left: -25px;
}
.header-links{
    color: whitesmoke;
    filter: brightness(0.7);
    font-size: larger;
}
.header-links:hover{
    text-decoration: none;
    filter: brightness(1);
}
#drop-down-div a:hover{
    /* border-bottom: 1px lightgray solid; */
    background-color: #007bff;
    color: white;
}

#drop-down-div{
    background-color: white;
    display: none;
    border-radius: 5px;
    border: 0.5px lightgray solid;
    padding: 5px 0 5px 0;
}

#drop-down{
    min-width: 128px;
}

#drop-down-div a{
    font-size: 20px;
}

.hover{
    height: 100%;
}

.hover:hover, .hover:hover a{
    background-color: black;
    color: blue;
    filter: brightness(1);
}

html{
    height: 100vh;
}
body{
    min-height: 100%;
}
/* Top Div finishes */

/* Side Bar */

/* Side bar finsihes */
